body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: no-repeat center scroll;
    background-size: 100% 100%;
    background-color: #f5ece4;
    background-image: url(https://t3.ftcdn.net/jpg/03/51/51/28/360_F_351512882_2kFH8IaSe4lyA7SXBLzEXyGKNEgbO1iH.jpg);
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
}

.form-container {
    border-radius: 25px;
    box-shadow: 1vh 1vh 1vh 1vh #686900;
    background-color: #ffffff;
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.question {
    margin-top: 5%;
    font-family: "Courier New", fantasy;
    color: rgb(0, 179, 255);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 4vh;
}

.notice {
    color: rgb(59, 58, 58);
    text-wrap-mode: wrap;
    text-align: center;
    font-family: "Courier New", monospace;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 3vh;
}

.icon {
    width: 100%;
    /* Fills the container horizontally */
    height: 100%;
    /* Fills the container vertically */
    object-fit: contain;
    /* Scales the SVG to fit within the container while maintaining aspect ratio */
}

.input-email[type=text] {
    background-color: white;
    background-image: url('https://e7.pngegg.com/pngimages/522/873/png-clipart-black-envelope-icon-advanced-case-management-envelope-computer-icons-icon-design-envelope-mail-miscellaneous-angle.png');
    width: 70%;
    background-repeat: no-repeat;
    padding-left: 5%;
    background-size: auto 5vh;
    padding: 0px 0px 0px 10vh;
    font-size: 4vh;
}


  .popup-button {
    font-family: "Courier New", monospace;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    margin: 6% auto;
    border-radius: 6px;
    padding: 1em 3em;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
    transition: 0.5s;
    &:hover {
      background-position: right center;
    }  
  }  
